<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <!-- <ion-item button *ngFor="let c of (categoriesData | async)" [routerLink]="['/','get-ctgry', c._id]"> -->
      <ion-card  *ngFor="let c of (categoriesData)" style="border: 1px solid rgba(0,0,0,0.4)">
        <!-- <ion-img src="http://localhost:3000/images/img/6fe924ef-dcec-4574-b358-7453b002911b.jpeg"></ion-img> -->
        <!-- <img src="http://localhost:3000/{{c.imageCtgory}}" /> -->
        <ion-item class="ion-text-center" class="ion-no-padding">
          <img src="http://localhost:3000{{c.imageCtgory}}" />
          <ion-text style="padding-left: 20px; font-weight: bold; font-size: 15px;">{{ c.name }}</ion-text>
        </ion-item>
          <ion-button expand="block" [routerLink]="['/','get-ctgry',c._id]" color="dark">
            <ion-icon slot="start" name="eye-outline"></ion-icon> Ver
          </ion-button>
      </ion-card>
    <!-- </ion-item> -->
  </ion-list>

</ion-content>
