<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">Agregar Categoria</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- <img *ngIf="images" [src]="images"> -->
  <ion-card style="border: 1px solid rgba(0,0,0,0.4)">
    <div class="center ion-padding">
      <ion-item style="width: 90%; margin: auto;">
        <ion-label position="floating">Nombre de la Categoria: </ion-label>
        <ion-input [(ngModel)]='datos.name' aria-placeholder="Ingrese la comida"></ion-input>
      </ion-item>
      <ion-item style="width: 90%; margin: auto;">
        <ion-label position="floating">Descripcion: </ion-label>
        <ion-textarea [(ngModel)]='datos.description' aria-placeholder="Ingrese la comida" rows="5"></ion-textarea>
      </ion-item><br>
      <ion-item lines="none">
        <input type="file" class="hidden" (change)="onPhotoSelected($event)" #photoInput>
        <img [src]="photoSelected || 'assets/images.png'" style="width: 100%; height: 200px; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 5px;">
        <!-- <img [src]="photoSelected || 'assets/images.png'" alt="" (click)="photoInput.click()" style="width: 100%; height: 200px;"> -->
      </ion-item>
      <ion-item lines="none">
        <!-- <ion-button (click)="selectImage()" style="width: 100%; height: 50px;" color="dark">
          <ion-icon name="camera"></ion-icon> Tomar Foto
        </ion-button> -->
        <ion-button expand="block" (click)="photoInput.click()" style="width: 100%; height: 50px;" color="dark">
          <ion-icon slot="start" name="camera"></ion-icon> Elegir Foto
        </ion-button>
        <ion-button expand="block" (click)="submitForm()" style="width: 100%; height: 50px;" color="dark">
          <ion-icon slot="start" name="save"></ion-icon> Guardar
        </ion-button>
      </ion-item>
    </div>
  </ion-card>
<!-- 
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="data.name" placeholder="Enter Name"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label>Age</ion-label>
    <ion-input [(ngModel)]="data.age" placeholder="Enter Age"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-button (click)="submitForm()">Add
    </ion-button>
  </ion-item> -->

</ion-content>
<!-- <ion-footer>
  <ion-toolbar color="dark">
    <ion-button fill="clear" expand="full" color="light" (click)="selectImage()">
      <ion-icon name="camera"></ion-icon>Seleccion Imagen
    </ion-button>
  </ion-toolbar>
</ion-footer> -->
