<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>insCtgry</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<!-- 
  <ion-item>
    <ion-label>Name</ion-label>
    <ion-input [(ngModel)]="data.name" placeholder="Enter Name"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-label>Age</ion-label>
    <ion-input [(ngModel)]="data.age" placeholder="Enter Age"></ion-input>
  </ion-item>
 
  <ion-item>
    <ion-button (click)="submitForm()">Add
    </ion-button>
  </ion-item> -->

</ion-content>
