<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">Principal</ion-title>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar aria-placeholder="Buscar comida..." animated (ionChange)="buscarComida($event)">

    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="foods.length === 0" class="ion-padding" style="border: 1px solid rgba(0,0,0,0.4)">
    <ion-item class="ion-no-padding" lines="none">
      <ion-thumbnail slot="start">
        <ion-skeleton-text></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h2>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </h2>
        <p>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="foods.length > 0" style="border: 1px solid rgba(0,0,0,0.4)">
    <ion-item *ngFor="let i of foods | filter: textoBuscar: 'title'" detail [routerLink]="['/','get-food2',i._id]">
      <ion-thumbnail slot="start">
        <ion-img src="http://localhost:3000{{i.imageFood}}"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h2><ion-text style="font-weight: bold;">{{i.title}}</ion-text></h2>
        <p><ion-text color="success">{{i.price}} Bs.</ion-text></p>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>
